@mixin clearfix() {
	&:after {
		content: " ";
		display: block;
		clear: both;
		height: 0;
		width: 0;
	}
}

$serif-stack: 'Roboto Slab, serif';
$sans-serif-stack: 'Hammersmith One, sans-serif';

$bodytype: (
  font-family: $serif-stack,
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.66
);

$headingtype: (
  font-family: $sans-serif-stack,
  regular: 400,
  bold: 400,
  cap-height: 0.66
);

$leaf-green: #3F940E;

$bodyColour: 			#333333;
$captionColour: 		#A0ABAF;
$linkColour: 			$leaf-green;
$backgroundColour: 		#F1F1F1;
$codeBackgroundColour:	#FFFFFF;
$hoverColour: 			$linkColour + #222;

@import "node_modules/sassline/assets/sass/sassline-base";

@mixin disable-transition() {
	.disable-transition & {
		transition: none;
	}
}

a {
	transition: 0.2s ease color;
}

.button {
	background-color: $linkColour;
	color: white;
	border-radius: 0.25rem;
	cursor: pointer;
	padding: 0.75rem 1.25rem;
	font-size: 1.25rem;
	font-weight: bold;
	display: inline-block;
	font-family: unquote($sans-serif-stack);

	&:hover,
	&:focus {
		background-color: $linkColour - #181818;
		color: white;
	}

	&:active {
		background-color: $linkColour - #222;
	}

	+ .button {
		margin-left: 1rem;
	}

	&.expand {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	&.icon-button {
		font-size: 1.5rem;
		background-image: none;
		text-align: center;
		text-shadow: none;
		&:hover,
		&:active,
		&:focus {
			background-image: none;
		}
	}
}

.typeset {
	code {
		padding: 0.25em 0.5em;
		border-radius: 0.25em;
	}
}

body,
.page-scoper {
	background-color: $backgroundColour;
	color: $bodyColour;
}

body,
.page-scoper,
.page-header {
	min-width: 320px;
}

$header-height: 60px;
$header-height-break-1: 70px;
$header-height-break-2: 75px;
$header-height-break-3: 85px;
$header-height-break-4: 95px;

$scoper-padding-top: 16px;
$scoper-padding-top-break-1: 32px;
$scoper-padding-top-break-2: 64px;
$scoper-padding-side-break-2: 2rem;

$nav-close-transition-time: 1s;
$nav-open-transition-time: .2s;

%bg {
	background-size: cover;
}

.bg-cave {
	@extend %bg;
	background-image: url('//res.cloudinary.com/dslky0gsj/image/upload/v1466049961/cave_cc2mvp.jpg');
	background-position: bottom center;
}

.bg-woods {
	@extend %bg;
	background-image: url('//res.cloudinary.com/dslky0gsj/image/upload/v1466563020/woods_g23e36.jpg');
	background-position: center center;
}

.page-scoper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	transition: padding-top $nav-close-transition-time ease;
	@include disable-transition();
	
	.nav-active & {
		transition: padding-top $nav-open-transition-time ease;
		padding-top: $header-height;

		@include breakpoint(break-1) {
			padding-top: $header-height-break-1;
		}

		@include breakpoint(break-2) {
			padding-top: $header-height-break-2;
		}
	}
}

.page-module {
	padding: 3rem 1rem;
	
	@include breakpoint(break-1) {
		padding: 5rem 2rem;
	}

	@include breakpoint(break-2) {
		padding: 7rem 3rem;
	}
}

.page-header {
	position: fixed;
	top: $header-height * -1;
	left: 0;
	width: 100%;
	padding: 0.5rem 1.5rem;
	background-color: white;
	text-align: left;
	z-index: 100;
	transition: top $nav-close-transition-time ease;
	@include disable-transition();

	@include breakpoint(break-1) {
		text-align: left;
		top: $header-height-break-1 * -1;
	}

	@include breakpoint(break-2) {
		top: $header-height-break-2 * -1;
	}

	@include breakpoint(break-3) {
		top: $header-height-break-3 * -1;
	}

	@include breakpoint(break-4) {
		top: $header-height-break-4 * -1;
	}

	.nav-active & {
		top: 0 !important;
		transition: top $nav-open-transition-time ease;
	}
}

nav {
	li {
		display: inline-block;
		padding: 1rem 1.5rem 1rem 0;
		font-size: 0.9375rem;
		font-weight: bold;
	}
	ul:last-child li:last-child {
		padding-right: 0;
	}
}

.social-list {
	float: left;
	@include breakpoint(break-1) {
		float: right;
	}
}

.trigger {
	position: fixed;
	top: 1rem;
	right: 1rem;
	padding: 1rem;
	border-radius: 0.25rem;
	display: inline-block;
	width: 3rem;
	text-align: center;
	cursor: pointer;
	z-index: 2000;
	line-height: 0.75rem;
	transition: background-color 0.2s linear;

	opacity: 0;
	visibility: hidden;
	cursor: auto;
	pointer-events: none;
	background-color: rgba(255,255,255, 0.4);

	transition: visibility 0.3s, opacity 0.3s ease, background-color 0.2s linear;

	&:hover {
		background-color: rgba(255, 255, 255, 0.7);
	}

	&:active {
		background-color: rgba(200, 200, 200, 1);
		transition: none;
	}

	.show-trigger &,
	.nav-active & {
		cursor: pointer;
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}

	@include breakpoint(break-1) {
		cursor: pointer;
		// visibility: visible;
		left: 1rem;
		// opacity: 1;
		pointer-events: auto;
	
		&:hover {
			right: auto;
		}

		&:active {
			transition: none;
		}
	}
}

.hero {
	height: 22rem;
	@include breakpoint(break-1) {
		height: 32rem;
	}
}

.plain-hero {
	height: 22rem;
}

.hero-nav {
	width: 100%;
	position: absolute;
	top: 0;
	padding: 0.5rem 1rem 0;
	opacity: 1;
	visibility: visible;

	&.ghost {
		a {
			color: rgba(#FFF, 0.75);
			&:hover { color: #FFF; }
			&:active { color: rgba(#FFF, 0.75); }
		}
	}

	transition: visibility 0s, opacity 0.2s ease;

	@include breakpoint(break-1) {
		padding-left: 0;
		padding-right: 0;
	}

	.nav-active & {
		visibility: hidden;
		opacity: 0;
	}
}

.page-footer {
	font-size: 75%;

	.typeset p a {
		text-shadow: none;
	}
}

.blog-post {
	font-size: 87.5%;
}

.ghost * {
	color: white !important;
}

h1 {
	font-size: 3rem;
}

@mixin vert-center-shared() {
	display: inline-block;
	vertical-align: middle;
	max-width: 97.5%;
}

@mixin vert-center-ghost() {
	height: 100%;
	content: " ";
}

.vert-center,
.vert-center-parent:before {
	@include vert-center-shared();	
}

.vert-center-parent:before {
	@include vert-center-ghost();	
}

$gutter: 1rem;

.row {

	margin-left: $gutter * -0.5;
	margin-right: $gutter * -0.5;

	@include clearfix();

	.col {
		float: left;
		padding-left: $gutter * 0.5;
		padding-right: $gutter * 0.5;

		&.end {
			float: right;
		}
	}

	@for $i from 1 through 12 {
		.small-#{$i} {
			width: 100% / 12 * $i;
		}
	}

	@include breakpoint(break-1) {
		@for $i from 1 through 12 {
			.medium-#{$i} {
				width: 100% / 12 * $i;
			}
		}
	}

	@include breakpoint(break-2) {
		@for $i from 1 through 12 {
			.large-#{$i} {
				width: 100% / 12 * $i;
			}
		}
	}
}

// 
// UTILS
//

.clearfix { @include clearfix(); }

.left { float: left; }
.right { float: right; }

.inline-block { display: inline-block; }
.inline { display: inline; }
.block { display: block; }

.rel { position: relative; }
.abs { position: absolute; }

.reset-list {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	li {
		margin-left: 0 !important;
	}
}

.reset-child-margins {
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

.margin-top-none {
	margin-top: 0;
}

.padding-top-none {
	padding-top: 0 !important;
}

.margin-top-tiny {
	margin-top: 0.5rem;
}

.margin-left-small {
	margin-left: 0.75rem;
}

.margin-right-small {
	margin-right: 0.75rem;
}

.margin-bottom-large {
	margin-bottom: 3rem;
}

.text-center {
	text-align: center;
}

.height-full {
	height: 100%;
}

.fa.icon-med { font-size: 0.75em; }
.fa.icon-small { font-size: 0.5em; }

.bg-white { background-color: white; }
.bg-grey { background-color: #999; }

@import "./lib/solarized-light";