@import "node_modules/sassline/assets/sass/sassline-base";

body {
	background-color: #F1F1F1;
	color: #333;
	min-width: 320px;
}

.page-wrapper {
	padding: 1rem;

	@include breakpoint(break-1) {
		padding: 2rem;
	}
}

.page-content {
	max-width: 40rem;
	margin: 0 auto;
}