doctype html
html(lang= "en")
	head

		title= "Put a title here"

		meta(charset= "utf-8")
		meta(http-equiv= "x-ua-compatible", content= "ie=edge")

		meta(name= "description", content= "")
		meta(name= "viewport", content= "width=device-width, initial-scale=1")

		//- link(rel= "apple-touch-icon", href="apple-touch-icon.png")
		link(rel= "stylesheet", href= "/css/screen.css")

	body
	
		.page-wrapper

			.trigger-wrapper
				.trigger
					span.fa.fa-ellipsis-h

			header.page-header
				nav
					ul.reset-list
						li Foo
						li Bar
						li Baz

			.page-scoper
				.page-content
					block content

	script(src="https://use.fontawesome.com/acb37e2f85.js")
	script(src="/js/app.js")