include ../includes/mixins.pug

doctype html
html(lang= "en")
	head

		title= "Put a title here"

		meta(charset= "utf-8")
		meta(http-equiv= "x-ua-compatible", content= "ie=edge")

		meta(name= "description", content= "")
		meta(name= "viewport", content= "width=device-width, initial-scale=1, user-scalable=no")

		//- link(rel= "apple-touch-icon", href="apple-touch-icon.png")
		link(href="https://fonts.googleapis.com/css?family=Hammersmith+One|Roboto+Slab:300,700", rel="stylesheet", type="text/css")
		link(rel= "stylesheet", href= "/css/screen.css")

	- var bodyClassList = [];
	- if (locals.showNav) { bodyClassList.push('nav-active'); }
	- if (locals.showTrigger) { bodyClassList.push('show-trigger'); }

	body.disable-transition(class= bodyClassList, data-route= locals.route)
	
		.page-wrapper

			.trigger-wrapper
				.trigger
					span.fa.fa-ellipsis-h

			header.page-header
				+nav

			.page-scoper
				block content

				footer.full-width-footer.bg-white
					.centered-page-content.spaced-page-content.text-center
						p Smell my foot

	script(src="https://use.fontawesome.com/acb37e2f85.js")
	script(src="/js/app.js")