doctype html
html(lang= "en")
	head

		title= "Put a title here"

		meta(charset= "utf-8")
		meta(http-equiv= "x-ua-compatible", content= "ie=edge")

		meta(name= "description", content= "")
		meta(name= "viewport", content= "width=device-width, initial-scale=1")

		//- link(rel= "apple-touch-icon", href="apple-touch-icon.png")
		link(href="https://fonts.googleapis.com/css?family=Hammersmith+One|Roboto+Slab:300,700", rel="stylesheet", type="text/css")
		link(rel= "stylesheet", href= "/css/screen.css")

	body.nav-active
	
		.page-wrapper

			.trigger-wrapper
				.trigger
					span.fa.fa-ellipsis-h

			header.page-header
				nav.centered-page-content
					ul.reset-list

						each entry in locals.nav
							li
								a(href= entry.href)= entry.text

			.page-scoper
				.centered-page-content
					block content

	script(src="https://use.fontawesome.com/acb37e2f85.js")
	script(src="/js/app.js")