include ../includes/mixins.pug

doctype html
html(lang= "en")
	head

		title scottyeck.com

		meta(charset= "utf-8")
		meta(http-equiv= "x-ua-compatible", content= "ie=edge")

		meta(name= "description", content= "")
		meta(name= "viewport", content= "width=device-width, initial-scale=1, user-scalable=no")

		//- link(rel= "apple-touch-icon", href="apple-touch-icon.png")
		link(href="https://fonts.googleapis.com/css?family=Hammersmith+One|Roboto+Slab:300,700", rel="stylesheet", type="text/css")
		link(rel= "stylesheet", href= "/css/screen.css")

	- var bodyClassList = [];
	- if (locals.showNav) { bodyClassList.push('nav-active'); }
	- if (locals.showTrigger) { bodyClassList.push('show-trigger'); }

	body.disable-transition(class= bodyClassList, data-route= locals.route)
	
		.page-wrapper

			.trigger-wrapper
				.trigger
					span.fa.fa-ellipsis-h

			header.page-header
				+nav

			.page-scoper
				block content

				footer.page-footer.page-module.bg-white
					.single-measure.typeset
						p
							| This site was built using great tools.
							br
							em
								a(href= "//sassline.com/") Sassline
								|  &bull; 
								a(href= "//github.com/chjj/marked") Marked
								|  &bull; 
								a(href= "//highlightjs.org/") Highlight.js
								|  &bull; 
								a(href= "//jade-lang.com/") Pug
								|  &bull; 
								a(href= "//jquery.com/") Ol' Reliable

						
						.clearfix
							
							p.inline-block.left 
								| &copy; 
								span(data-replace= "year")= new Date().getFullYear()
								|  Scotty Eckenthal
								br
								| Proudly published under the 
								a(href= "//choosealicense.com/licenses/mit/") MIT Open Source License.

							ul.reset-list.social-list

								each entry in locals.social
									li.inline-block
										a.margin-left-small(href= entry.href)
											span.fa(class= "fa-" + entry.slug)

	script(src="https://use.fontawesome.com/acb37e2f85.js")
	script(src="/js/app.js")