mixin nav(config)
	nav.centered-page-content
		ul.reset-list.inline-block

			each entry in locals.nav
				li
					a(href= entry.href)= entry.text

		ul.reset-list.social.right.inline-block

			each entry in locals.social
				li
					a(href= entry.href)
						span.fa(class= "fa-" + entry.slug)