extends ../layout/default.pug

block content
	.centered-page-content
		article.typeset.single-measure

			h1= post.title
			h2.caption= post.formattedDate

			div!= post.html

			hr

			p
				em Have an opinion? Want to make this post better? <a href="#{post.issueUrl}">Leave a comment</a> or submit a pull-request.