extends ../layout/default.pug

block content

	section.plain-hero.bg-white.page-module.rel

		.single-measure.height-full

			+nav({
				classList: ["hero-nav", "single-measure"]
			})

			.vert-center-parent.height-full
				.vert-center.typeset

					h1 blog

	.page-module
		
		article.single-measure

			.typeset
				h1 Latest

			ul.reset-list
				each entry in locals.blogroll
					li.margin-bottom-large.typeset
						h3= entry.title + " "
							a(href= entry.href)
						h4.caption= entry.formattedDate

						div!= entry.summary

						a(href= entry.href) Continue reading...