extends ../layout/default.pug

block content

	section.plain-hero.bg-white.full-width-module

		.centered-page-content.height-full.rel

			+nav({
				classList: ["hero-nav"]
			})

			.plain-hero-content.height-full.vert-center-parent
				.vert-center.typeset

					h1 blog

	.centered-page-content.spaced-page-content.fix-margins
		
		article.single-measure

			.typeset
				h1 Latest

			ul.reset-list
				each entry in locals.blogroll
					li.margin-bottom-large.typeset
						h3= entry.title + " "
							a(href= entry.href)
						h4.caption= entry.formattedDate

						div!= entry.summary

						a(href= entry.href) Continue reading...