extends ../layout/default.pug

block content
	.centered-page-content
		article.typeset.single-measure

			h1= locals.title

			ul.reset-list
				each entry in locals.blogroll
					li.margin-bottom-large
						h3= entry.title + " "
							a(href= entry.href)
						h4.caption= entry.formattedDate

						div!= entry.summary

						a(href= entry.href) Continue reading...