extends ../layout/default.pug

block content

	section.hero.bg-woods.full-width-module.ghost

		.centered-page-content.height-full
			.row.height-full
				.col.small-9.medium-8.end.typeset.height-full.vert-center-parent
					.vert-center.reset-child-margins
						h1.beta Scotty Eckenthal
						h2.caption Brooklyn, NY

						blockquote.reset-child-margins
							p Web guy. CSS nerd. "I love all dogs."


	section

		.centered-page-content.spaced-page-content.typeset.reset-child-margins
			
			p Hi, I'm Scotty - I live in Brooklyn with my amazing girlfriend Amany and our also amazing dog <a href="https://www.instagram.com/explore/tags/zigzaglarry/">Larry</a>.

			p I work at <a href="https://learnvest.com">LearnVest</a>, where I help to organize design systems across our User Interfaces, and build the software that breathes life into them. I also teach web-engineering courses at the <a href="http://nycda.com">New York Code &amp; Design Academy</a>. In both places, I'm lucky to be surrounded by awesome, passionate people.