extends ../layout/default.pug

block content

	section.hero.bg-woods.page-module.rel

		.single-measure.height-full

			+nav({
				classList: ["hero-nav", "single-measure", "ghost"]
			})

			.row.height-full
				.col.small-9.medium-8.end.typeset.height-full.vert-center-parent.ghost
					.vert-center.reset-child-margins
						h1.beta Scotty Eckenthal
						h2.caption Web guy. Brooklyn, NY

	section

		.page-module.typeset.reset-child-margins

			.single-measure
			
				p Hi, I'm Scotty - I live in Brooklyn with my amazing girlfriend Amany and our also amazing dog <a href="https://www.instagram.com/explore/tags/zigzaglarry/">Larry</a>.

				p I'm currently doing front-end stuff at a new startup here in Brooklyn. I can't wait to tell you more about it :) Previously, I worked on the amazing front-end team at <a href="https://learnvest.com">LearnVest</a>, and I also taught web-engineering courses at the <a href="http://nycda.com">New York Code &amp; Design Academy</a>. In all of these places, I've been so lucky to be surrounded by awesome, passionate people.

				p I love CSS, comprehensive testing, continous delivery, and squeaky-clean code. I'm also big on biking, trees, and family time. When I'm not coding, I'm usually at a dog park.