extends ../layout/default.pug

block content

	section.hero.bg-cave.full-width-module.vert-center-parent.ghost.text-center
		.vert-center
			h1 Hey!
			h2.margin-top-tiny (That's me... <span class="fa fa-long-arrow-right"></span>)

	section
		h2 This is other content.